Repository 47degrees/sbt-embedded-cassandra, pull requests merged in 2020-04, with the labels that each got.

#25 Update actions, documentation templates and configuration files to v0.2.3
  .github/workflows/changelog.yml
  .github/workflows/docs.yml
  .github/workflows/scalasteward-auto-approve.yml
  .mergify.yml
Labels: auto-update

#26 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#27 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#28 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#29 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#30 Update actions, documentation templates and configuration files to v0.3.1
  .github/workflows/bot-prs-auto-approve.yml
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .mergify.yml
Labels: auto-update

#31 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#32 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#33 Update actions, documentation templates and configuration files to v0.3.2
  .mergify.yml
Labels: auto-update

#34 Update actions, documentation templates and configuration files to v0.4.0
  .github/workflows/bot-prs-auto-approve.yml
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Labels: auto-update

#35 Update actions, documentation templates and configuration files to v0.4.1
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Labels: auto-update

#36 Update actions, documentation templates and configuration files to v0.5.0
  .github/labels.yml
  .github/release-drafter.yml
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .mergify.yml
Labels: auto-update

#39 Update documentation and other files
  AUTHORS.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE.md
  NOTICE.md
  core/src/main/scala/sbtembeddedcassandra/cassandra/CassandraUtils.scala
  core/src/main/scala/sbtembeddedcassandra/io/IOUtils.scala
  core/src/main/scala/sbtembeddedcassandra/syntax.scala
  src/main/scala/sbtembeddedcassandra/EmbeddedCassandraKeys.scala
  src/main/scala/sbtembeddedcassandra/EmbeddedCassandraPlugin.scala
Labels: auto-documentation

#40 Update documentation and other files
  AUTHORS.md
Labels: auto-documentation

#41 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#42 Update documentation and other files
  AUTHORS.md
Labels: auto-documentation
